
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PedidoVenda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Criacao] [datetime] NOT NULL,
	[Modificacao] [datetime] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[VendedorId] [int] NOT NULL,
	[Status] [char](1) NOT NULL,
	[DataLiberacao] [datetime] NULL,
	[TotalProdutos] [money] NOT NULL,
	[QuantidadeItens] [int] NOT NULL,
	[ValorDesconto] [money] NOT NULL,
	[ValorAcrescimo] [money] NOT NULL,
	[DataEntrega] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PedidoVendaItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoVendaId] [int] NOT NULL,
	[Criacao] [datetime] NOT NULL,
	[Modificacao] [datetime] NOT NULL,
	[ProdutoId] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[ValorUnitario] [money] NOT NULL,
	[ValorDesconto] [money] NOT NULL,
	[ValorAcrescimo] [money] NOT NULL,
	[TipoPreco] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Criacao] [datetime] NOT NULL,
	[Modificacao] [datetime] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[Grupo] [varchar](30) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Tipo] [char](1) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Produto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Criacao] [datetime] NOT NULL,
	[Modificacao] [datetime] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Codigo] [varchar](10) NOT NULL,
	[PrecoBase] [money] NOT NULL,
	[GrupoProduto] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [PedidoVenda] ON 

INSERT [PedidoVenda] ([Id], [Criacao], [Modificacao], [ClienteId], [VendedorId], [Status], [DataLiberacao], [TotalProdutos], [QuantidadeItens], [ValorDesconto], [ValorAcrescimo], [DataEntrega]) VALUES (1, CAST(N'2018-08-09T23:46:02.687' AS DateTime), CAST(N'2018-08-09T23:46:02.687' AS DateTime), 21, 6, N'L', CAST(N'2018-10-11T00:00:00.000' AS DateTime), 120.0000, 4, 0.0000, 0.0000, NULL)
INSERT [PedidoVenda] ([Id], [Criacao], [Modificacao], [ClienteId], [VendedorId], [Status], [DataLiberacao], [TotalProdutos], [QuantidadeItens], [ValorDesconto], [ValorAcrescimo], [DataEntrega]) VALUES (2, CAST(N'2018-08-09T23:46:02.687' AS DateTime), CAST(N'2018-08-09T23:46:02.687' AS DateTime), 22, 6, N'C', NULL, 300.8000, 2, 0.0000, 0.0000, NULL)
INSERT [PedidoVenda] ([Id], [Criacao], [Modificacao], [ClienteId], [VendedorId], [Status], [DataLiberacao], [TotalProdutos], [QuantidadeItens], [ValorDesconto], [ValorAcrescimo], [DataEntrega]) VALUES (3, CAST(N'2018-08-09T23:46:02.687' AS DateTime), CAST(N'2018-08-09T23:46:02.687' AS DateTime), 23, 6, N'F', CAST(N'2018-02-18T00:00:00.000' AS DateTime), 51.2000, 2, 0.0000, 0.0000, CAST(N'2018-05-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [PedidoVenda] OFF
SET IDENTITY_INSERT [PedidoVendaItem] ON 

INSERT [PedidoVendaItem] ([Id], [PedidoVendaId], [Criacao], [Modificacao], [ProdutoId], [Quantidade], [ValorUnitario], [ValorDesconto], [ValorAcrescimo], [TipoPreco]) VALUES (269, 1, CAST(N'2018-08-10T00:00:43.730' AS DateTime), CAST(N'2018-08-10T00:00:43.730' AS DateTime), 1, 4, 30.0000, 0.0000, 0.0000, N'N')
INSERT [PedidoVendaItem] ([Id], [PedidoVendaId], [Criacao], [Modificacao], [ProdutoId], [Quantidade], [ValorUnitario], [ValorDesconto], [ValorAcrescimo], [TipoPreco]) VALUES (270, 2, CAST(N'2018-08-10T00:00:43.730' AS DateTime), CAST(N'2018-08-10T00:00:43.730' AS DateTime), 2, 2, 150.4000, 0.0000, 0.0000, N'N')
INSERT [PedidoVendaItem] ([Id], [PedidoVendaId], [Criacao], [Modificacao], [ProdutoId], [Quantidade], [ValorUnitario], [ValorDesconto], [ValorAcrescimo], [TipoPreco]) VALUES (271, 3, CAST(N'2018-08-10T00:00:43.730' AS DateTime), CAST(N'2018-08-10T00:00:43.730' AS DateTime), 3, 2, 25.6000, 0.0000, 0.0000, N'N')
SET IDENTITY_INSERT [PedidoVendaItem] OFF
SET IDENTITY_INSERT [Pessoa] ON 

INSERT [Pessoa] ([Id], [Criacao], [Modificacao], [Nome], [CPF], [Grupo], [DataNascimento], [Tipo], [Ativo]) VALUES (1, CAST(N'2018-08-09T22:45:07.520' AS DateTime), CAST(N'2018-08-09T22:45:07.520' AS DateTime), N'Heloise Camacho', N'00027562000', N'Autoserviço', CAST(N'1959-10-18T00:00:00.000' AS DateTime), N'C', 1)
INSERT [Pessoa] ([Id], [Criacao], [Modificacao], [Nome], [CPF], [Grupo], [DataNascimento], [Tipo], [Ativo]) VALUES (2, CAST(N'2018-08-09T22:45:07.520' AS DateTime), CAST(N'2018-08-09T22:45:07.520' AS DateTime), N'Maria Vitória Calixto', N'00002364115', N'Autoserviço', CAST(N'1960-10-05T00:00:00.000' AS DateTime), N'C', 1)
INSERT [Pessoa] ([Id], [Criacao], [Modificacao], [Nome], [CPF], [Grupo], [DataNascimento], [Tipo], [Ativo]) VALUES (3, CAST(N'2018-08-09T22:45:07.520' AS DateTime), CAST(N'2018-08-09T22:45:07.520' AS DateTime), N'Elisa Farias', N'00002047810', N'Autoserviço', CAST(N'1967-09-17T00:00:00.000' AS DateTime), N'C', 1)
SET IDENTITY_INSERT [Pessoa] OFF
SET IDENTITY_INSERT [Produto] ON 

INSERT [Produto] ([Id], [Criacao], [Modificacao], [Nome], [Codigo], [PrecoBase], [GrupoProduto]) VALUES (1, CAST(N'2018-08-09T23:25:19.300' AS DateTime), CAST(N'2018-08-09T23:25:19.300' AS DateTime), N'Bracelete de Couro', N'ASS0001', 30.0000, N'Acessorios')
INSERT [Produto] ([Id], [Criacao], [Modificacao], [Nome], [Codigo], [PrecoBase], [GrupoProduto]) VALUES (2, CAST(N'2018-08-09T23:25:19.300' AS DateTime), CAST(N'2018-08-09T23:25:19.300' AS DateTime), N'Bracelete de Aço', N'ASS0002', 150.4000, N'Acessorios')
INSERT [Produto] ([Id], [Criacao], [Modificacao], [Nome], [Codigo], [PrecoBase], [GrupoProduto]) VALUES (3, CAST(N'2018-08-09T23:25:19.300' AS DateTime), CAST(N'2018-08-09T23:25:19.300' AS DateTime), N'Anel Rock’n’roll', N'ASS0003', 25.6000, N'Acessorios')
SET IDENTITY_INSERT [Produto] OFF
ALTER TABLE [PedidoVendaItem] ADD  CONSTRAINT [UQ_PVI_PDV_PRD] UNIQUE NONCLUSTERED 
(
	[ProdutoId] ASC,
	[PedidoVendaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [PedidoVenda]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [Pessoa] ([Id])
GO
ALTER TABLE [PedidoVenda]  WITH CHECK ADD FOREIGN KEY([VendedorId])
REFERENCES [Pessoa] ([Id])
GO
ALTER TABLE [PedidoVendaItem]  WITH CHECK ADD FOREIGN KEY([ProdutoId])
REFERENCES [Produto] ([Id])
GO
